<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="con"
            connectionString="Data Source=DEVFLUENCE8-DBN\MSSQLSERVER2017;Initial Catalog=Timesheets;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
     <add name="con"
            connectionString="Data Source=KHANYISILE;Initial Catalog=Timesheets;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>